html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: .5rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
}

img {
  width: 2rem;
}

nav ul {
  color: #0074d9
}
